@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-custom {
    scrollbar-color: #767e93 transparent;
    scrollbar-width: thin;
  }

  .draggable {
    overflow-anchor: none;
  }

  .perspective-midrange {
    perspective: 800px;
  }

  @media (max-height: 475px) {
    .max-h-475-padding {
      padding: 8px;
    }
  }

  @media (min-width: 576px) and (min-height: 475px) {
    .md-py-8-min-h-576 {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  @media (min-width: 768px) and (min-height: 475px) {
    .md-py-20-min-h-768 {
      padding-top: 48px;
      padding-bottom: 48px;
    }
  }

  @media (min-width: 576px) {
    .sm-width-576 {
      width: 58.333333%;
    }
  }

  @media (min-width: 576px) {
    .sm-max-width-576 {
      max-width: max-content;
    }
  }

  @media screen and (min-width: 576px) {
    .swap-assets {
      z-index: 12;
    }

    .swap-container {
      width: 460px;
      height: 620px;
      border-radius: 8px;
      background-color: white;
      border: 1px solid rgb(175, 180, 192, 0.4);
      box-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 0.1);
    }

    .swap-header {
      padding-top: 12px;
      padding-bottom: 12px;
      height: 66px;
    }

    .swap-content {
      margin-left: 24px;
      margin-right: 24px;
    }

    .swap-button-h-96 {
      height: 96px;
    }

    .swap-terms-mt-0 {
      margin-top: 0;
    }

    .countdown-m-0 {
      margin: 0;
    }

    .token-list-max-h {
      max-height: 600px;
    }
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: #f8f8f9;
  background-color: #242424; */
  color: #242424;
  background-color: #f8f8f9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  /* color: rgb(175, 180, 192); */
  /* color: #e88f97; */
  /* color: rgb(175, 180, 192); */
  /* color: rgb(100, 108, 255); brand-500 */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /* border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s; */
  /* color: rgb(100, 108, 255, 0.15); */
}
button:hover {
  /* border-color: #646cff; */
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.slideUp {
  transition: translate 250ms ease;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f8f8f9;
  }
  a:hover {
    color: #747bff;
  }
}

::selection {
  color: white;
  background-color: #0369a1;
}
